html {

}
  
body {
    margin: 0px;
    background: rgb(255, 255, 255);
    font: 400 12px/1.8 "Open Sans", arial;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

.nav {
    width: 100%; 
    min-height: 50px; 
    max-height: 50px;
    border: 0px;
}